{% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `sidebar_link: true` in the front-matter. See readme for usage.
{% endcomment %}
{% assign pages_list = site.pages %}
{% assign sorted_pages = site.pages | sort: 'path' %}

{% for node in sorted_pages %}
  {% if node.title != null %}
    {% if node.sidebar_link %}
      <a class="btn btn-outline-secondary btn-block {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
    {% endif %}
  {% endif %}
{% endfor %}
