<div id="sidebar">
    
  <header>
      <div class="embed-container ratio-uio-logo">
      <img src="{{ site.baseurl }}/assets/images/uio_logo_small.svg">
      </div>
      <p><br></p>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  
  {% include sidebar-nav-links.html %}

  <p>  <br></p>

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include copyright.html %}
</div>